<div class="animated fadeIn">
  <div *ngIf="httpError == null && feedpulse != null" class="card">
    <div class="card-header">
      Detail feedpulse
    </div>
      <div class="card-body">

        <div class="container mt-5 mb-5">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <h4>Beschrijving</h4>
              <ul *ngIf="feedpulse.messages.length > 0" class="timeline">
                <li *ngFor="let row of feedpulse.messages">
                  <a target="_blank" href="#">{{row.content}}</a>
                  <a href="#!" class="float-right">{{row.created.getDay() + 1}}-{{row.created.getMonth() + 1}}-{{row.created.getFullYear()}} {{row.created.getHours()}}:{{row.created.getMinutes()<10?"0":""}}{{row.created.getMinutes()}}</a>
                  <p>{{row.content}}</p>
                </li>
              </ul>
              <p *ngIf="feedpulse.messages.length === 0">
                Geen informatie gevonden
              </p>
            </div>
            <textarea [formControl]="textarea" class="form-control" cols="30" rows="10"></textarea>
            <br>
            <button (click)="addFeedpulse()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Toevoegen</button>
          </div>
        </div>

      </div>
  </div>


  <div *ngIf="httpError != null">
    <app-error-card [title]="httpError.name + ': ' + httpError.status " [message]="httpError.message"></app-error-card>
  </div>

</div>
