<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Admin toevoegen
    </div>
    <form (ngSubmit)="submitForm()" class="form-horizontal">
      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="email">Email</label>
          <div class="col-md-9">
            <input [(ngModel)]="admin.email" type="email" id="email" name="email" class="form-control" placeholder="Admin email">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="password">Password</label>
          <div class="col-md-9">
            <input [(ngModel)]="admin.passHash" type="password" id="password" name="password" class="form-control" placeholder="Admin password">
          </div>
        </div>

      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" (click)="resetAdmin()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>

</div>



