<div class="animated fadeIn">
  <div *ngIf="httpError == null && admin != null" class="card">
    <div class="card-header">
      Detail admin {{admin.email}}
    </div>
    <form (ngSubmit)="submitForm()" class="form-horizontal">
      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="email">Email</label>
          <div class="col-md-9">
            <input [(ngModel)]="admin.email" type="email" id="email" name="email" class="form-control"
                   placeholder="Admin email">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="password">Password</label>
          <div class="col-md-9">
            <input [(ngModel)]="admin.passHash" type="password" id="password" name="password" class="form-control"
                   placeholder="Admin password">
          </div>
        </div>

      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Update</button>
      </div>
    </form>
  </div>


  <div *ngIf="httpError != null">
    <app-error-card [title]="httpError.name + ': ' + httpError.status " [message]="httpError.message"></app-error-card>
  </div>

  <div *ngIf="httpError == null && admin != null" class="card">
    <div class="card-header">
      Studenten
    </div>
    <div class="card-body">
      <table id="datatable" class="table table-striped table-bordered table-sm row-border hover" datatable>
        <thead>
        <tr>
          <th>Studentnummer</th>
          <th>Email</th>
          <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of admin.students">
          <td>{{student.id}}</td>
          <td>{{student.email}}</td>
          <td><a routerLink="/student/detail/{{student.id}}">Detail</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
