<div class="animated fadeIn">
  <div *ngIf="httpError == null && student != null" class="card">
    <div class="card-header">
      Detail student {{student.email}}
    </div>
    <form (ngSubmit)="submitForm()" class="form-horizontal">
      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="email">Email</label>
          <div class="col-md-9">
            <input [(ngModel)]="student.email" type="email" id="email" name="email" class="form-control"
                   placeholder="Student email">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="password">Password</label>
          <div class="col-md-9">
            <input [(ngModel)]="student.passHash" type="password" id="password" name="password" class="form-control"
                   placeholder="Student password">
          </div>
        </div>

      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Update</button>
      </div>
    </form>
  </div>


  <div *ngIf="httpError != null">
    <app-error-card [title]="httpError.name + ': ' + httpError.status " [message]="httpError.message"></app-error-card>
  </div>

  <div *ngIf="httpError == null && student != null" class="card">
    <div class="card-header">
      Feedpulse
    </div>
    <div class="card-body">
      <table id="datatable" class="table table-striped table-bordered table-sm row-border hover" datatable>
        <thead>
        <tr>
          <th>Feedpulse nummer</th>
          <th>Berichten</th>
          <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let feedpulse of student.feedpulsesWithId">
          <td>{{feedpulse.id}}</td>
          <td>{{feedpulse.messages.length}}</td>
          <td><a routerLink="/feedpulse/detail/{{feedpulse.id}}">Bekijken</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <button (click)="addFeedpulse()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Nieuw feedpulse</button>
    </div>
  </div>
</div>
