<div class="animated fadeIn">
  <div *ngIf="httpError == null && admins == null">
    <app-pacman></app-pacman>
  </div>
  <div *ngIf="httpError == null && admins != null" class="card">
    <div class="card-header">
      Alle adminen
    </div>
    <div class="card-body">
      <table id="datatable" class="table table-striped table-bordered table-sm row-border hover" datatable>
        <thead>
        <tr>
          <th>Adminnummer</th>
          <th>Email</th>
          <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let admin of admins">
          <td>{{admin.id}}</td>
          <td>{{admin.email}}</td>
          <td><a routerLink="/admin/detail/{{admin.id}}">Detail</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="httpError != null">
    <app-error-card [title]="httpError.name + ': ' + httpError.status " [message]="httpError.message"></app-error-card>
  </div>



</div>
