<div class="animated fadeIn">
  <div *ngIf="httpError == null && students == null">
    <app-pacman></app-pacman>
  </div>
  <div *ngIf="httpError == null && students != null" class="card">
    <div class="card-header">
      Alle studenten
    </div>
    <div class="card-body">
      <table id="datatable" class="table table-striped table-bordered table-sm row-border hover" datatable>
        <thead>
        <tr>
          <th>Studentnummer</th>
          <th>Email</th>
          <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.id}}</td>
          <td>{{student.email}}</td>
          <td><a routerLink="/student/detail/{{student.id}}">Detail</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="httpError != null">
    <app-error-card [title]="httpError.name + ': ' + httpError.status " [message]="httpError.message"></app-error-card>
  </div>
</div>
